In [1]:
#Import libraries
import pandas as pd
import numpy as np
import re
import datetime as dt
import os
import tables

In [8]:
#open the price file
src_fldr_pth = r'C:\\Users\\Robert\\Documents\\python_scripts\\stock_trading_ml_modelling\\historical_prices\\'
data_df = pd.read_hdf(src_fldr_pth + r'all_hist_prices_w.h5')
print(data_df.shape)
data_df.head()

(257688, 13)

,ticker,date,high,low,volume,open,close,change,ema12,ema26,macd_line,signal,macd
0,III,2007-12-31,1023.0,964.0,4511565.0,995.0,965.0,-30.0,NaN,NaN,NaN,NaN,NaN
1,III,2008-01-07,989.0,917.5,16056554.0,967.5,924.0,-43.5,NaN,NaN,NaN,NaN,NaN
2,III,2008-01-14,936.0,881.0,21691287.0,917.0,901.0,-16.0,NaN,NaN,NaN,NaN,NaN
3,III,2008-01-21,965.0,847.0,17850580.0,891.0,917.5,26.5,NaN,NaN,NaN,NaN,NaN
4,III,2008-01-28,971.0,903.0,12079245.0,911.0,961.0,50.0,NaN,NaN,NaN,NaN,NaN

In [7]:
tmp_df = data_df[data_df.ticker == 'SBRY']
print(tmp_df.shape)
tmp_df.head()

(1047, 60)

,ticker,date,open,close,high,low,volume,change_price,per_change_price,close_shift1,...,max_change_signal_line_neg_val,min_change_signal_line_pos_val,min_change_signal_line_neg_val,prev_max_macd_line_date_change,prev_min_macd_line_date_change,max_change_macd_line_pos_val,max_change_macd_line_neg_val,min_change_macd_line_pos_val,min_change_macd_line_neg_val,signal
0,SBRY,1999-08-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hold
1,SBRY,1999-08-09,1.000000,0.0,0.0,0.0,1.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,hold
2,SBRY,1999-08-16,0.647452,1.0,1.0,1.0,0.724172,1.000000,1.000000,0.0,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,hold
3,SBRY,1999-08-23,1.000000,1.0,1.0,1.0,0.000000,0.926418,0.899766,1.0,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,hold
4,SBRY,1999-08-30,1.000000,1.0,1.0,1.0,0.000000,0.877796,0.797122,1.0,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,sell